@model IEnumerable<KP_MANUFACTURE_MVC.Models.Export>

@{
    ViewData["Title"] = "Список экспортов";
}

<h1>Экспорты</h1>

<p>
    <a asp-action="Create">Добавить экспорт</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductCount)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplitedStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importer.FullName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ComplitedStatus.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Обзор</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
